<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>


    <style>
        /* styles.css */
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('https://imgcdn.stablediffusionweb.com/2024/9/9/41e2f8c9-f7db-4697-b11a-96f38effafdf.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            font-family: Arial, sans-serif;
        }

        .container {
            text-align: center;
        }

        .login-button {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 12px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 5px;
            transition: 0.3s;
        }

        .login-button:hover {
            background-color: #00b609;
            /* Darker green on hover */
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>User already registered. Please login.</h1>
        <a href="/login"><button class="login-button">Login</button></a>
    </div>
</body>

</html>